{% extends 'base.html' %}
{% load static %}
{% block title %}
{{contact.name}}
{% endblock title %}

{% block content %} 
  <!-- Main Section -->
  {# {{request.path}} #}<!-- it will show '/detail/16' -->
  <div class="container">
    <h2 class="heading font-weight-light text-center">{{contact.name}}</h2>
    <hr />
  </div>
  <div class="container main-part">
    <!-- Card for details -->
    {% include 'partials/_card.html' %}

    <!-- Date, Edit, Delete  -->
    <div class="container m-3">
      <h5 class="text-center my-3 font-weight-light">Date added: &nbsp; {{contact.date_added}}</h5>
      <p class="text-center text-light">
        <a href="{% url 'update' contact.id %}" class="btn btn-info px-5">
          <i class="far fa-edit"></i>&nbsp; Update
        </a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger px-5">
          <i class="fas fa-trash-alt"></i>&nbsp; Delete
        </a>
      </p>
    </div>
    <p><a class="btn btn-primary" href="{% url 'home' %}">Back &larr;</a></p>
  </div>
  <!-- Main Section ends-->
{% endblock content %} 
